name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Test"
        uses: mattallty/jest-github-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NETWORK: ${{ secrets.NETWORK }}
          INFURA_KEY: ${{ secrets.INFURA_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        with:
          test-command: "yarn test"
