name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Test"
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: yarn install
      - run: yarn test
        env:
          NETWORK: ${{ secrets.NETWORK }}
          INFURA_KEY: ${{ secrets.INFURA_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
      - uses: mattallty/jest-github-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NETWORK: ${{ secrets.NETWORK }}
          INFURA_KEY: ${{ secrets.INFURA_KEY }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        with:
          test-command: "yarn test"
